@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;700;800&display=swap');
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  display: grid;
  place-content: center;
  color: hsl(270, 10%, 80%);
  font-family: 'Times New Roman', Times;
  background: linear-gradient(to top right, hsl(270, 50%, 50%), hsl(290, 60%, 70%));
  min-height: 100vh;
  padding: 3rem;
  overflow-x: hidden;
}

.dash {
  background: hsl(270, 50%, 10%);
  display: flex;
  flex-direction: column;
  border-radius: 8px;
  box-shadow: 4px 4px 30px hsla(270, 30%, 10%, .4);
  max-width: 1266px;
}

.dash * {
  transition: all .1s;
}

.header {
  height: 5rem;
  display: flex;
  align-items: center;
  z-index: 2;
  box-shadow: 0 4px 12px hsla(270, 30%, 3%, .2);
}

.logo {
  width: 8rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.social-icons {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-right: 20px; /* Adjust margin as needed */
}

.social-icon {
  text-decoration: none;
}

.social-icon img {
  width: 30px; /* Adjust size as needed */
  height: 30px;
  border-radius: 50%;
  transition: transform 0.3s ease-in-out;
}

.social-icon:hover img {
  transform: scale(1.2);
}

.header__search {
  flex-grow: 1;
  padding: 0 8.6rem;
}

.header__search-icon {
  width: 3.8rem;
  height: 3.8rem;
  border-radius: 3.8rem;
  background: hsl(270, 32%, 17%);
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.header__search-icon:hover {
  background: hsl(270, 32%, 20%);
}

.header__search-icon>svg {
  height: 1.6rem;
  opacity: .4;
}

.header__search-icon:hover>svg {
  opacity: .7;
}

.body {
  flex-grow: 2;
  display: flex;
}

.sidebar {
  width: 13rem;
  height: auto;
}

img {
  max-width: 100%;
  border: 0px;
}
ul,
ol {
  list-style: none;
}
a {
  text-decoration: none;
  color: inherit;
  outline: none;
  transition: all 0.4s ease-in-out;
  -webkit-transition: all 0.4s ease-in-out;
}
a:focus,
a:active,
a:visited,
a:hover {
  text-decoration: none;
  outline: none;
}
a:hover {
  color: #e9e9e9;
}
h2 {
  margin-bottom: 1px;
  padding-bottom: 10px;
  font-size: 20px;
  line-height: 28px;
  font-weight: 700;
  position: relative;
  text-transform: capitalize;
}
h3 {
  margin: 0 0 10px;
  font-size: 28px;
  line-height: 20px;
}

/* -------- title style ------- */
.line-title {
  font-size: 30px;
  position: relative;
  width: 400px;
}
.line-title::before,
.line-title::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  height: 4px;
  border-radius: 2px;
}
.line-title::before {
  width: 50%;
  background: #ffffff;
}
.line-title::after {
  width: 32px;
  background: #e73700;
}

/******* Middle section CSS Start ******/
/* -------- Landing page ------- */
.game-section {
  padding: 25px 85px;
  margin-left: -10px;
}
.game-section .owl-stage {
  margin: 15px 0;
  display: flex;
  display: -webkit-flex;
}
.game-section .item {
  margin: 0 15px 60px;
  width: 350px;
  height: 490px;
  display: flex;
  display: -webkit-flex;
  align-items: flex-end;
  -webkit-align-items: flex-end;
  background: #f70000 no-repeat center center / cover;
  border-radius: 16px;
  overflow: hidden;
  position: relative;
  transition: all 0.4s ease-in-out;
  -webkit-transition: all 0.4s ease-in-out;
  cursor: pointer;
}
.game-section .item.active {
  width: 500px;
  box-shadow: 12px 40px 40px rgba(238, 238, 238, 0.25);
  -webkit-box-shadow: 12px 40px 40px rgba(0, 0, 0, 0.25);
}

.game-section .item:after {
  content: "";
  display: block;
  position: absolute;
  height: 100%;
  width: 100%;
  left: 0;
  top: 0;
  background-image: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 1));
}
.game-section .item-desc {
  padding: 0 24px 12px;
  color: #ffffff;
  position: relative;
  z-index: 1;
  overflow: hidden;
  transform: translateY(calc(100% - 54px));
  -webkit-transform: translateY(calc(100% - 54px));
  transition: all 0.4s ease-in-out;
  -webkit-transition: all 0.4s ease-in-out;
}
.game-section .item.active .item-desc {
  transform: none;
  -webkit-transform: none;
}
.game-section .item-desc h1 {
  font-size: 20px;
  opacity: 0; 
  -webkit-transform: translateY(32px);
  transform: translateY(32px);
  transition: all 0.4s ease-in-out 0.2s;
  -webkit-transition: all 0.4s ease-in-out 0.2s;
}
.game-section .item.active .item-desc h1 {
  opacity: 1;
  -webkit-transform: translateY(0);
  transform: translateY(0);
}
.game-section .owl-theme.custom-carousel .owl-dots {
  margin-top: -20px;
  margin-left: -3700px;
  position: relative;
  z-index: 5;
}
/******** Middle section CSS End *******/

/***** responsive css Start ******/

@media (min-width: 992px) and (max-width: 1199px) {
  h2 {
    margin-bottom: 32px;
  }
  h3 {
    margin: 0 0 8px;
    font-size: 24px;
    line-height: 32px;
  }

  /* -------- Landing page ------- */
  .game-section {
    padding: 50px 30px;
  }
  .game-section .item {
    margin: 0 12px 60px;
    width: 260px;
    height: 360px;
  }
  .game-section .item.active {
    width: 400px;
  }
  .game-section .item-desc {
    transform: translateY(calc(100% - 46px));
    -webkit-transform: translateY(calc(100% - 46px));
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  h2 {
    margin-bottom: 32px;
  }
  h3 {
    margin: 0 0 8px;
    font-size: 24px;
    line-height: 32px;
  }
  .line-title {
    width: 330px;
  }

  /* -------- Landing page ------- */
  .game-section {
    padding: 50px 30px 40px;
  }
  .game-section .item {
    margin: 0 12px 60px;
    width: 240px;
    height: 330px;
  }
  .game-section .item.active {
    width: 360px;
  }
  .game-section .item-desc {
    transform: translateY(calc(100% - 42px));
    -webkit-transform: translateY(calc(100% - 42px));
  }
}

@media (max-width: 767px) {
  body {
    font-size: 14px;
  }
  h2 {
    margin-bottom: 20px;
  }
  h3 {
    margin: 0 0 8px;
    font-size: 19px;
    line-height: 24px;
  }
  .line-title {
    width: 250px;
  }

  /* -------- Landing page ------- */
  .game-section {
    padding: 30px 15px 20px;
  }
  .game-section .item {
    margin: 0 10px 40px;
    width: 200px;
    height: 280px;
  }
  .game-section .item.active {
    width: 270px;
    box-shadow: 6px 10px 10px rgb(255, 255, 255);
    -webkit-box-shadow: 6px 10px 10px rgb(255, 255, 255);
  }
  .game-section .item-desc {
    padding: 0 14px 5px;
    transform: translateY(calc(100% - 42px));
    -webkit-transform: translateY(calc(100% - 42px));
  }
}

.main__footer {
  margin-left: 700px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: .2rem 0 2.3rem 10rem;
}

.main__footer-more svg {
  height: 1em;
  vertical-align: middle;
}

.main__info {
  display: flex;
  align-items: center;
}

.main__info-link {
  color: inherit;
  font-size: 1.4rem;
}

.main__info-link:hover {
  color: #fff;
}

.main__info-link:hover svg {
  opacity: .7;
}

.main__info-link svg {
  height: 1.4em;
  transform: translateY(1px);
  opacity: .4;
}

.main__info-link+.main__info-link {
  margin-left: .6rem;
}

.main__cp {
  margin: 0 1rem 0 2.6rem;
}

.main__cr {
  opacity: .4;
  margin-right: 5rem;
}

.main__cr:hover {
  opacity: .7;
}